<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mineswepper</title>
  <link rel="stylesheet" href="/static/styleSheets/style1.css">
</head>

<body>
  <img id="bg-img" src="/static/assests/bg-image.png" style="z-index: -2;" alt="bg image">
  <div class="main-Container">
    <div>
      <h1>More-Game</h1>
      <div id="leftSide-Bar">
        <div class="item">item1</div>
        <div class="item">item2</div>
        <div class="item">item3</div>
        <div class="item">item4</div>
        <div class="item">item5</div>
        <div class="item">item6</div>
        <div class="item">item7</div>
        <div class="item">item8</div>
        <div class="item">item9</div>
        <div class="item">item10</div>
      </div>
    </div>
    <div class="centerContainer">
      <div id="game-Container">
        <div class="game-frontContainer">
          <img id="startGameImg" src="/static/assests/2048 game.svg" alt="startGameImg">
          <button id="startGameBtn">
            Play Now
            <img id="playBtn" src="/static/assests/playBtn.svg" alt="playBtn">
          </button>
          <div class="lowerBox">
            <div class="loginBox">
                <h4>Save your progress to keep going!</h4>
                <button id="loginBtn">Login</button>
              </div>
              <div id="likeUnlike">
                <img src="/static/assests/likeBtn.svg" alt="like">
                <img src="/static/assests/unlikeBtn.svg" alt="unlike">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id="rigthSide_Bar">
      <div class="leadBoard2048">
        <div class="textBox">
          <h3>leadboard 2048</h3>
        </div>
        <div class="boardBox"></div>
      </div>
      <div class="leadBoardAllGames">
        <div class="textBox">
          <h3>leadboard All Games</h3>
        </div>
        <div class="boardBox"></div>
      </div>
    </div>
  </div>
</body>

</html>